*.jl.*.cov
*.jl.cov
*.jl.mem
Manifest*.toml
/docs/build/
*.svg
*.pdf
experiments/*/results.toml
experiments/*/sharp_edge.toml
*.mat
!.test/*fvceff1.mat
lib/boarbitrary
lib/BOPBK
lib/bo
lib/pdrk
lib/DEV.md
docs/bonito
scratch/
*local*